* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 650px;
  min-height: 600px;
  background:#2d3436;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px ;
  padding-bottom: 20px;

}

h2 {
  margin: 10px 0;
  color: rgb(252, 241, 241);
}